<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">

        <!-- 用户登录信息 -->
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/loloManager"/>
                <property name="username" value="root"/>
                <property name="password" value="Gyc981205"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="dao/LoginDao.xml"></mapper>
    </mappers>
</configuration>